<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="utf-8" th:remove="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" th:remove="all"/>
  <link rel="stylesheet" href="../../static/css/layout.css" th:remove="all"/>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">TODO登録</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 class="pb-2 mt-4 mb-2 border-bottom">TODO登録</h1>
    <form th:action="@{/todos}" th:object="${todo}" method="post" role="form">
      <div th:errors="*{global}" class="alert alert-danger">エラーメッセージ</div>
      <div class="row mb-3">
        <label for="text" class="col-form-label col-sm-2">テキスト</label>
        <div class="col-sm-10">
          <textarea th:field="*{text}" class="form-control" id="text" rows="5"></textarea>
          <span th:errors="*{text}" class="form-text"></span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="float-end">
            <input type="submit" value="登録" class="btn btn-primary"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
