<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="utf-8" th:remove="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" th:remove="all"/>
  <link rel="stylesheet" href="../../static/css/layout.css" th:remove="all"/>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">TODO一覧</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 class="pb-2 mt-4 mb-2 border-bottom">TODO一覧</h1>
    <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert">メッセージ</div>
    <table class="table">
      <thead>
        <tr>
          <th class="align-baseline" scope="col">#</th>
          <th class="align-baseline" scope="col">テキスト</th>
          <th class="align-baseline" scope="col">作成日時</th>
          <th class="align-baseline" scope="col">更新日時</th>
          <th class="align-baseline text-center" scope="col">アクション</th>
        </tr>
      </thead>
      <tbody th:remove="all-but-first" th:each="todo : ${todos}">
        <tr>
          <td class="align-baseline" th:text="${todo.id}">1</td>
          <td class="align-baseline" th:text="${#strings.abbreviate(todo.text, 32)}">テキスト</td>
          <td class="align-baseline" th:text="${#temporals.format(todo.createdAt, 'yyyy/MM/dd HH:mm:ss')}">2021/01/01 00:00:00</td>
          <td class="align-baseline" th:text="${#temporals.format(todo.updatedAt, 'yyyy/MM/dd HH:mm:ss')}">2021/01/01 00:00:00</td>
          <td class="align-baseline text-center">
            <form th:action="@{/todos/{id}(id=${todo.id})}" th:method="delete" role="form">
              <a th:href="@{/todos/{id}(id=${todo.id})}" class="btn btn-secondary" href="show.html" role="button">詳細</a>
              <a th:href="@{/todos/{id}/edit(id=${todo.id})}" class="btn btn-secondary" href="edit.html" role="button">編集</a>
              <input type="submit" value="削除" class="btn btn-danger"/>
              <input type="hidden" name="version" th:value="${todo.version}"/>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
